<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
      <h1>login!</h1>
    </div>
  </div>

<%= form_tag '/login', method: :post do %>
  <div>
    <%= text_field_tag :email, "", class: 'u-footer-form__input" type="text', placeholder: 'your email address here' %>
  </div>
  <div>
    <%= password_field_tag(:password, "", placeholder: "create a password here") %>
  </div>
  <div class="wpc-contactUs-button">
    <button class="u-footer-form__btn u-btn u-btn--small u-btn--grey u-btn--hover-grey">submit</button>
  </div>
</div>
<% end %>