<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
      <h1>your feed!</h1>
    </div>
      <div ng-app="app">
        <div ng-controller="followeesCtrl" ng-init="setup()">
        <p>search followees: <input ng-model="followeeFilter"></p>
          <div ng-repeat="followee in followees | filter: {followee: followeeFilter}">
            <div>
            <h1><a href="/foodies/{{ followee.id }}">{{ followee.name }}</a></h1>
            </div>
          </div>
        </div>
      </div>
</div>

<h3>your locations of free food</h3>
    <div id="map"></div>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>    
<script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing" async defer></script>