<h1>Foodies:</h1>

<% @foodies.each do |foodie| %>
  <h3><%= @foodie.name %></h3>
  <h3><%= @foodie.email %></h3>
<% end %>

<% if foodie.name != current_foodie.name %>
  <%= link_to "Add Follower", "/foodies/_follow.html.erb", method: :post %>
<% end %> 
