<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">

    <div class="col-xs-12">
      <h1>all foodies!</h1>
    </div>

<div ng-app="app">
<div ng-controller="foodiesCtrl" ng-init="setup()">
<p>search foodies: <input ng-model="nameFilter" list="names"></p>
<div ng-repeat="foodie in foodies | filter: {name: nameFilter} | orderBy:'name'">
<div ng-hide="foodie.isCurrentUser"> {{current_foodie.id}}

<div class="wpc-photo7">
<div class="swiper-container" data-mode='horizontal' data-autoplay="5000" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-loop="1" data-add-slides="1" data-slides-per-view="responsive" data-speed="2000">
<div class="swiper-wrapper">
<div class="swiper-slide">
<h3>name: <a href="/foodies/{{ foodie.id }}">{{ foodie.name }}</a></h3>
<div class="wpc-photo7-item">
<div class="wpc-photo7-wrap">
<div class="wpc-photo7-info">         
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>