<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
      <h1>all foodies!</h1>
    </div>
    
    <div ng-app="app">
      <div ng-controller="foodiesCtrl" ng-init="setup()">
        <p>search foodies: <input ng-model="nameFilter" list="names"></p>

        <div ng-repeat="foodie in foodies | filter: {name: nameFilter} | orderBy:'name'">
         <div ng-hide> {{current_foodie.id}} </div>
          <h3>name: <a href="/foodies/{{ foodie.id }}">{{ foodie.name }}</a></h3>

           
        </div>
        </div>
      </div>
    </div>
  
  </div>
</div>