<div class="jumbotron">
<div class="wpc-contactUs-form wpc-contactUs-form-style3">

    <div class="col-xs-12">
      <h1>your feed!</h1>
    </div>

    <div ng-app="app">
      <div id="followeesCtrl" ng-controller="followeesCtrl" ng-init="setup()">
        <p>search posts: <input ng-model="followeeFilter"></p>
          <div ng-repeat="post in followees | filter: followeeFilter" class="foodie-post"> 
            <h2><a href="/posts/{{ post.id }}"><p>{{ post.text }}</p></a></h2>
            <p>by: <a href="/posts/{{ post.id }}">{{ post.foodie }}</a></p>
            <p>address: <a href="/posts/{{ post.id }}">{{ post.address }}</a></p>
            <p>
            <a ng-repeat="tag in post.tags" href="/posts?tag={{ tag.name }}">{{ tag.name }}</a> 
            </p>
            <img ng-src="{{ post.image }}", style="height: 120px; border: 2px solid black"/>
          </div>          
      </div>
    </div>

  </div>
</div>

<h3 style="margin-left: 10px">your locations of free food</h3>
    <div id="map"></div>
    <style>
       #map {
        height: 400px;
        width: 100%;
        border: 10px solid black;
       }
    </style>    
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing" async defer></script>