<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
    <h1>your followers</h1>
<% @followers.each do |follower| %>
  <h2><a href="/foodies/<%=follower.id%>"><%= follower.name %></h2>
  <h3><a href="/foodies/<%=follower.id%>"><%= follower.email %></h3>
<% end %>
</div>
</div>
</div>