<% @followers.each do |follower| %>

#need code to pull attributes of foodies to make them appear as followers
 
  <h3><%= @foodie.name %></h3>
  <h3><%= @foodie.email %></h3>
  <%= link_to "Follower's posts" %>

<% end %>

 