<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
      <h1>edit post!</h1>
    </div>

<%= form_tag "/posts/#{@post.id}", method: :patch do %>
  <div>
    <%= text_field_tag :text, @post.text, class: 'u-footer-form__input' %>
  </div>
<!--   <div>
    <%= text_field_tag :text, @post.address, class: 'u-footer-form__input' %>
  </div> -->
  <div class="wpc-contactUs-button">
    <button class="u-footer-form__btn u-btn u-btn--small u-btn--grey u-btn--hover-grey">submit</button>
  </div>
<% end %>

</div>
</div>