<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
      <h1>posts!</h1>
    <br>
    </br>
    </div>
      <div ng-app="app">
        <div ng-controller="postsCtrl" ng-init="setup()">
          <a href="/posts/new">create a new post</a>
          <br>
          <p>search posts: <input ng-model="textFilter"></p>
          <div ng-repeat="post in posts | filter: {text: textFilter}">
            <div>
            <h1><a href="/posts/{{ post.id }}">{{ post.text }}</a></h1>
            </div>
            <p>address: <a href="/posts/{{ post.id }}">{{ post.address }}</a></p>

        </div>
      </div>
    </div>
  </div>
</div>

<h3>your locations of free food</h3>
    <div id="map"></div>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>    
<script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing" async defer></script>