<div class="wpc-contactUs-form wpc-contactUs-form-style3">
  <div class="row">
    <div class="col-xs-12">
      <h1>posts!</h1>
    <br>
    </br>
    </div>
      <div ng-app="app">
        <div ng-controller="postsCtrl" ng-init="setup()">
          <a href="/posts/new">create a new post</a>
          <br>
          <p>search posts: <input ng-model="textFilter"></p>
          <div ng-repeat="post in posts | filter: {text: textFilter}">
            <div>
            <h1><a href="/posts/{{ post.id }}">{{ post.text }}</a></h1>
            </div>
            <p>address: <a href="/posts/{{ post.id }}">{{ post.address }}</a></p>


<!--             <p>Image:
              <a ng-repeat="image in post.images" href="/posts?image={{ image.url }}">{{ image.url }}</a>  
            </p>        
            <p>Tags:
              <a ng-repeat="tag in post.tags" href="/posts?tag={{ tag.name }}">{{ tag.name }}</a>  
            </p>
            <p>Comments:
              <a ng-repeat="comment in post.comments" href="/posts?comment={{ comment.name }}">{{ comment.name }}</a>  --> 

        </div>
      </div>
    </div>
  </div>
</div>