// Place all the styles related to the Foodies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-image {
  max-height: 80px;
}

.ng-foodie {
  margin-bottom: 20px;
}

.post-comment {
  margin-bottom: 30px;
}