// Place all the styles related to the Foodies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-image {
  max-height: 100px;
  border: 2px solid black;
}

.ng-foodie {
  margin-bottom: 20px;
}

.post-comment {
  margin-bottom: 30px;
}
.border-thumb {
  border: 2px solid black;
}

.spacer-15 {
  height: 15px;
}

.foodie-post {
  background: #ccc;
  margin: 10px 0px;
  padding: 15px;
}