<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/ico-7-stroke.css" rel="stylesheet" />
    <link href="/css/ico-helper.css" rel="stylesheet" />
    <link href="/css/magnific-popup.css" rel="stylesheet" />
    <link href="/css/animsition.min.css" rel="stylesheet" />
    <link href="/css/animate.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/fullwidth.css" rel="stylesheet" type="text/css" />
    <title>freefood</title>

    <%= csrf_meta_tags %>
 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class=" animsition   ">
    <!-- ///////////////////////////////////////// -->
    <header class="u-header u-header--transp-light u-header--black-text">
        <div class="container no-padd-lg">
            <div class="row">
                <div class="col-xs-12">
                    <div class="u-header__wrap">
                        <div class="u-header__logo float-right">
                            <a href="/login" class="table-cell">freefood</a>
                        </div>
                        <div class="u-header__nav-icon float-left">
                            <a href="#" class="table-cell"><i></i></a>
                        </div>
                        <div class="u-header__navigation float-left">
                            <nav>
                                <% if @current_foodie %>
                                <ul class="table-cell main-menu">
                                    <li class="menu-item u-header__megamenu"><a href="/posts">home</a></li>
                                    <li class="menu-item u-header__megamenu"><a href="/logout">logout</a></li>
                                </ul>
                                <% else %>
                                <ul class="table-cell main-menu">
                                    <li class="menu-item u-header__megamenu"><a href="/signup">signup</a></li>
                                    <li class="menu-item u-header__megamenu"><a href="/login">login</a></li>
                                </ul>
                                <% end %>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- ///////////////////////////////////////// -->
<div class="u-start-banner">
<div class="container no-padd-lg">
<div class="row">
<div class="col-xs-12">
<div class="u-start-banner__heading">
<h1 class="u-start-banner__title">share <span class="type-element"></span></h1>
<h1 class="u-start-banner__title">share intelligence about free food in your world</h1>
</div>
</div>
</div>
</div>
</div>
</div>
    <%= yield %>
    <!-- ///////////////////////////////////////// -->
    <footer class="u-footer">
        <div class="u-footer__top">
            <div class="container no-padd-lg">
                <div class="row">
                    <div class="col-md-4 col-sm-6 marg-sm-b60">
                        <div class="u-footer__item">
                            <h3 class="u-footer__title">about us</h3>
                            <ul class="u-footer-info marg-lg-b60">
                                <li>
                                    <h7 class="u-footer-info__title">Founded in 2016 in Chicago, IL by a lover of free food</h7>
                                </li>
                            </ul>
<!--                             <h3 class="u-footer__title">follow us</h3>
                            <ul class="u-footer-soc">
                                <li>
                                    <a href="#" class="fa fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                
    </footer>
    <!-- ///////////////////////////////////////// -->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.animsition.min.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/typed.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.raty-fa.min.js"></script>
    <script src="/js/jquery.matchHeight.min.js"></script>
    <script src="/js/idangerous.swiper.min.js"></script>
    <script src="/js/all.js"></script>
</body>

</html>