<!doctype html>
<!--[if IE 6 ]><html lang="en-us" class="ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en-us" class="ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en-us" class="ie8"> <![endif]-->
<!--[if (gt IE 7)|!(IE)]><!-->
<html lang="en-us">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>FreeFood</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="description" content="A Perfect HTML5 Template for your site with unlimited options">
    <meta name="author" content="vor">
    <meta name="copyright" content="vor">
    <meta name="generator" content="Documenter v1.0 http://rxa.li/documenter">
    <meta name="date" content="2016-01-05T00:00:00+02:00">

    <link rel="stylesheet" href="assets/css/documenter_style.css" media="all">
    <link type="text/css" rel="stylesheet" href="assets/css/SyntaxHighlighter.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800' rel='stylesheet' type='text/css'>
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery.scrollTo.js"></script>
    <script src="assets/js/jquery.easing.js"></script>

    <script>
        document.createElement('section');
        var duration = '500',
            easing = 'swing';
    </script>
    <script src="assets/js/script.js"></script>

    <style>
        html {
            background-color: #EEEEEE;
            color: #383838;
        }
        
        ::-moz-selection {
            background: #333636;
            color: #00DFFC;
        }
        
        ::selection {
            background: #333636;
            color: #00DFFC;
        }
        
        #documenter_sidebar #documenter_logo {
            background-image: url();
        }
        
        a {
            color: #008C9E;
        }
        
        .btn {
            border-radius: 3px;
        }
        
        .btn-primary {
            background-image: -moz-linear-gradient(top, #008C9E, #006673);
            background-image: -ms-linear-gradient(top, #008C9E, #006673);
            background-image: -webkit-gradient(linear, 0 0, 0 008C9E%, from(#343838), to(#006673));
            background-image: -webkit-linear-gradient(top, #008C9E, #006673);
            background-image: -o-linear-gradient(top, #008C9E, #006673);
            background-image: linear-gradient(top, #008C9E, #006673);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008C9E', endColorstr='#006673', GradientType=0);
            border-color: #006673 #006673 #bfbfbf;
            color: #FFFFFF;
        }
        
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary.active,
        .btn-primary.disabled,
        .btn-primary[disabled] {
            border-color: #008C9E #008C9E #bfbfbf;
            background-color: #006673;
        }
        
        hr {
            border-top: 1px solid #D4D4D4;
            border-bottom: 1px solid #FFFFFF;
        }
        
        #documenter_sidebar,
        #documenter_sidebar ul a {
            background-color: #343838;
            color: #FFFFFF;
        }
        
        #documenter_sidebar ul a {
            -webkit-text-shadow: 1px 1px 0px #494F4F;
            -moz-text-shadow: 1px 1px 0px #494F4F;
            text-shadow: 1px 1px 0px #494F4F;
        }
        
        #documenter_sidebar ul {
            border-top: 1px solid #212424;
        }
        
        #documenter_sidebar ul a {
            border-top: 1px solid #494F4F;
            border-bottom: 1px solid #212424;
            color: #FFFFFF;
        }
        
        #documenter_sidebar ul a:hover {
            background: #333636;
            color: #00DFFC;
            border-top: 1px solid #333636;
        }
        
        #documenter_sidebar ul a.current {
            background: #333636;
            color: #00DFFC;
            border-top: 1px solid #333636;
        }
        
        #documenter_copyright {
            display: block !important;
            visibility: visible !important;
        }
        
        #documenter_sidebar,
        #documenter_sidebar ul a {
            background-color: #000;
            color: #FFF;
        }
        
        #documenter_sidebar #documenter_logo {
            padding: 50px 40px 0;
        }
    </style>

</head>

<body>
  
      <!-- JavaScript -->
                <script src="js/jquery-2.1.4.min.js"></script>
                <script src="js/isotope.pkgd.min.js"></script>
                <script src="js/jquery.magnific-popup.min.js"></script>
                <script src="js/jquery.animsition.min.js"></script>
                <script src="js/jquery.countTo.js"></script>
                <script src="js/typed.min.js"></script>
                <script src="js/isotope.pkgd.min.js"></script>
                <script src="js/wow.min.js"></script>
                <script src="js/jquery.raty-fa.min.js"></script>    
                <script src="js/jquery.matchHeight.min.js"></script>
                <script src="js/idangerous.swiper.min.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLa0X2YHRndjJmw1rFB82NhRbjYRU1_lU" type="text/javascript"></script>
                <script src="js/jquery.scrolling-parallax.js"></script>
                <script src="js/jquery.flexslider-min.js"></script>
                <script src="js/jquery.easings.min.js"></script>
                <script src="js/jquery.multiscroll.min.js"></script>
                <script src="js/jquery.classycountdown.min.js"></script>
                <script src="js/jquery.knob.js"></script>
                <script src="js/jquery.throttle.js"></script>
                <script src="js/jquery-asPieProgress.js"></script>
                <script src="js/all.js"></script>
 
        <script language="javascript" src="assets/js/shCore.js"></script>
        <script language="javascript" src="assets/js/shBrushCss.js"></script>
        <script language="javascript" src="assets/js/shBrushXml.js"></script>
        <script language="javascript" src="assets/js/shBrushJScript.js"></script>

        <style type="text/css" media="screen">
            p,
            table,
            hr,
            .box {
                padding-bottom: 15px;
            }
            
            .box p {
                margin-bottom: 10px;
            }
            
            pre,
            code {
                font-size: 14px;
                margin: 1.5em 0;
                white-space: pre;
            }
        </style>

    <div id="documenter_sidebar">
        <a href="#documenter_cover" id="documenter_logo"><img src="assets/img/logo.jpg" alt="" /></a>
        <ul id="documenter_nav">
            <li><a class="current" href="#documenter_cover">Welcome</a></li>
            <li><a href="#installtion">Installing Template</a></li>
            <li><a href="#html_structure">HTML Structure</a></li>
            <li><a href="#css_files_and_structure">CSS Structure</a></li>
            <li><a href="#javascript">Javascript Structure</a></li>
            <li><a href="#tutorial" title="Tutorial">Tutorial</a></li>
            <li><a href="#sources_and_credits" title="Sources and Credits">Sources and Credits</a></li>
        </ul>
    </div>
    <div id="documenter_content">
        <section id="documenter_cover">
            <h1>Atlanta Template</h1>
            <h2>Responsive Multipurpose Theme</h2>
            <br>
            <br>
            <h4><strong>Welcome To Atlanta Template Documentation.</strong></h4>
            <p>Firstly, a huge thanks for purchasing this template, your support is truly appreciated!
                <br>
                <br>This document covers the installation and use of this template and often reveals answers to common problems and issues - read this document thoroughly if you are experiencing any difficulties. If you have any questions that are beyond the scope of this document, feel free to pose them in the dedicated <a href="http://themeforest.net/" target="_blank">support section.</a></p>


  <h1>FreeFood</h1>
  <h4>Share intelligence about free food in your world</h4>

  <% if @current_foodie %>
    <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
  <% end %>

<%= yield %>

</body>
</html>